body {
    font-family: Arial, sans-serif;
}
.header {
    display: flex;
    align-items: center;
    background-color: #3b9bb8;
    padding: 10px;
    margin-bottom: 20px;
    width: 65%; 
}
.header img {
    margin-right: 15px;
}
.table {
    border-collapse: collapse;
    width: 66%; 
    margin-bottom: 20px;
}

.table th, .table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #cccccc;
    background-color: #e3e3e3;
}
.table td:first-child {
    font-weight: bold; 
}
